html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.header {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

.content {
  display: block;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
  height: 100%;
  width: 100%;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

.hidden {
  display: none;	
}

div.content img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
}